.cls1 {
  fill: #eabd49;
}

.cls1, .cls2, .cls3, .cls4, .cls5, .cls6, .cls7, .cls8, .cls9, .cls10, .cls11, .cls12, .cls13, .cls14, .cls15, .cls16, .cls17, .cls18, .cls19, .cls20, .cls21, .cls22, .cls23, .cls24, .cls25, .cls26, .cls27, .cls28, .cls29, .cls30, .cls31, .cls32, .cls33, .cls34, .cls35, .cls36, .cls37, .cls38, .cls39, .cls40, .cls41, .cls42, .cls43, .cls44 {
  stroke-width: 0px;
}

.cls45 {
  stroke: #c44e1c;
}

.cls45, .cls46, .cls47, .cls48, .cls49, .cls50 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls45, .cls14, .cls47, .cls51, .cls48, .cls52 {
  fill: none;
}

.cls53 {
  font-size: 24px;
}

.cls53, .cls54, .cls2, .cls55, .cls56, .cls57, .cls58, .cls59, .cls60, .cls20, .cls61, .cls62, .cls63, .cls64, .cls65, .cls66, .cls67 {
  fill: #fff;
}

.cls53, .cls55, .cls56, .cls57, .cls68, .cls58, .cls69, .cls70, .cls59, .cls71, .cls72, .cls73, .cls74, .cls75, .cls76, .cls77, .cls78, .cls79, .cls62, .cls63, .cls80, .cls81, .cls65, .cls66, .cls82, .cls83, .cls84, .cls67 {
  font-family: KoPubDotumPB-KSCpc-EUC-H, KoPubDotum_Pro;
}

.cls54 {
  stroke: #282b2d;
}

.cls54, .cls85, .cls51, .cls86, .cls52, .cls87, .cls88 {
  stroke-miterlimit: 10;
}

.cls54, .cls47, .cls51 {
  stroke-width: 3px;
}

.cls2 {
  opacity: .4;
}

.cls3 {
  fill: #2cbeff;
}

.cls4 {
  fill: #ac427d;
}

.cls55, .cls74 {
  font-size: 1.64px;
}

.cls56 {
  font-size: 7.48px;
}

.cls5 {
  fill: #292a2c;
}

.cls89 {
  opacity: .5;
}

.cls85, .cls46, .cls88 {
  stroke: #282a2c;
}

.cls85, .cls21 {
  fill: #4ab0da;
}

.cls6, .cls69, .cls71, .cls77, .cls80 {
  fill: #f3e4ad;
}

.cls90, .cls60, .cls91, .cls64 {
  font-family: KoPubDotumPM-KSCpc-EUC-H, KoPubDotum_Pro;
}

.cls90, .cls64 {
  font-size: 9.17px;
}

.cls7, .cls72, .cls74, .cls75, .cls79, .cls81 {
  fill: #231815;
}

.cls57, .cls76 {
  font-size: 10.8px;
}

.cls8 {
  fill: #2250a2;
}

.cls9 {
  fill: #100b6d;
}

.cls68 {
  font-size: 18.22px;
}

.cls68, .cls92, .cls70, .cls93, .cls34, .cls94, .cls82, .cls84 {
  fill: #2a2b2c;
}

.cls92 {
  font-size: 5.76px;
}

.cls92, .cls93, .cls94 {
  font-family: KoPubBatangPB-KSCpc-EUC-H, KoPubBatang_Pro;
}

.cls58, .cls72 {
  font-size: 8.17px;
}

.cls69 {
  font-size: 7.03px;
}

.cls46, .cls49, .cls50, .cls31 {
  fill: #c3433d;
}

.cls95 {
  fill: #b2423b;
}

.cls95, .cls94 {
  letter-spacing: -.05em;
}

.cls95, .cls96 {
  font-family: AdobeMyungjoStd-Medium-KSCpc-EUC-H, 'Adobe Myungjo Std';
  font-weight: 500;
}

.cls70 {
  font-size: 7.36px;
}

.cls11 {
  fill: #54305d;
}

.cls59 {
  font-size: 9.11px;
}

.cls12 {
  fill: #4599ab;
}

.cls71 {
  font-size: 7.97px;
}

.cls13 {
  fill: #f4e5ae;
}

.cls47, .cls49 {
  stroke: #2a2b2c;
}

.cls73 {
  font-size: 30.45px;
}

.cls73, .cls32 {
  fill: #282b2d;
}

.cls15 {
  fill: #3dc47a;
}

.cls16 {
  fill: #d7ad4a;
}

.cls75, .cls63 {
  font-size: 2.27px;
}

.cls97 {
  clip-path: url(#clippath-1);
}

.cls77 {
  font-size: 3.98px;
}

.cls51 {
  stroke: #000;
}

.cls17 {
  fill: #e8d36a;
}

.cls18 {
  fill: #874d2b;
}

.cls60 {
  font-size: 7.74px;
}

.cls19 {
  fill: #4daa7f;
}

.cls91 {
  font-size: 9.17px;
}

.cls48 {
  stroke: #4daa7f;
}

.cls78 {
  font-size: 8px;
}

.cls79 {
  font-size: 5.47px;
}

.cls22, .cls86 {
  fill: #f0e2ca;
}

.cls23 {
  fill: #3c435b;
}

.cls86, .cls52, .cls87 {
  stroke: #282a2b;
}

.cls61 {
  font-family: KoPubDotumMedium, 'KoPubDotum Medium';
}

.cls61, .cls65, .cls83 {
  font-size: 10.8px;
}

.cls24 {
  fill: #252729;
}

.cls62 {
  font-size: 37.58px;
}

.cls98 {
  clip-path: url(#clippath);
}

.cls25 {
  fill: #df791c;
}

.cls26 {
  fill: #1ea5af;
}

.cls93 {
  letter-spacing: -.05em;
}

.cls50 {
  stroke: #3c435b;
}

.cls80 {
  font-size: 7.97px;
}

.cls27 {
  fill: #4eab7f;
}

.cls28 {
  fill: #c5443d;
}

.cls29 {
  fill: #85c026;
}

.cls30 {
  fill: #c1dd1d;
}

.cls81 {
  font-size: 5.42px;
}

.cls33 {
  fill: #682961;
}

.cls35 {
  fill: #e84f4c;
}

.cls36 {
  fill: #f29420;
}

.cls37 {
  fill: #1d5b5b;
}

.cls96 {
  fill: #ba433c;
  font-size: 11.13px;
}

.cls38 {
  fill: #69bd8a;
}

.cls87 {
  fill: #4ca37c;
}

.cls88 {
  fill: #f19320;
}

.cls39 {
  fill: #5d8e10;
}

.cls40 {
  fill: #e6a91e;
}

.cls41 {
  fill: #859faa;
}

.cls66 {
  font-size: 4.97px;
}

.cls99 {
  font-size: 6.66px;
}

.cls82 {
  font-size: 6px;
}

.cls84 {
  font-size: 23.54px;
}

.cls42 {
  fill: #282a2b;
}

.cls67 {
  font-size: 5.99px;
}

.cls43 {
  fill: #757575;
}

.cls44 {
  fill: #221714;
}