---
import type { JailTurnType } from '@/lib/trlg/types'


interface Props {
    jailTurnResultCache: JailTurnType | null
}

const {jailTurnResultCache} = Astro.props

---
{(jailTurnResultCache === "byLawyer") ? <p>
    변호사의 도움으로 석방되었습니다.
</p> : (jailTurnResultCache === "byCash") ? <p>
    보석금을 내고 석방되었습니다.
</p> : (jailTurnResultCache === "byDice") ? <p>
    운 좋게 석방되었습니다.
</p> : (jailTurnResultCache === false) ? <p>
    저런...다음 기회를 노려보세요. {":("}
</p> : <p></p>}